@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto Slab", sans-serif;
  color: rgb(48, 47, 47);
  font-weight: 400;
  background-color: rgb(253, 255, 227);
  justify-content: center;
  align-items: center;
}

.header {
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 4rem;
  background-color: rgb(34, 40, 46);
  z-index: 98;
}

.main {
  margin-bottom: 4rem;
}

.title-center {
  text-align: center;
  margin: 1.5em;
}

.section-title {
  margin: 3rem 0;
  font-size: 1.7rem;
}

::-webkit-scrollbar {
  width: 0.9rem;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 1vw;
  margin-block: 0.2rem;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(197, 197, 197);
  outline: 1px solid slategrey;
  border-radius: 1vw;
}

/* Nav */

.nav {
  display: flex;
  align-items: center;
  height: 100%;
}

.nav__list {
  display: flex;
  width: 100%;
  height: 100%;
}

.nav__item {
  list-style: none;
  width: 20%;
  font-size: 2rem;
}
.nav__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-decoration: none;
  color: rgb(129, 129, 129);
}

.nav__link:active {
  color: rgb(182, 109, 250);
}

.link__text {
  display: none;
}

.nav__arrow {
  display: none;
}

.active a {
  color: rgb(182, 109, 250);
}

@media (min-width: 600px) {
  .header {
    display: flex;
    position: fixed;
    width: 5rem;
    background-color: rgb(34, 40, 46);
    height: 100vh;
    flex-direction: column;
  }

  .logo-container {
    display: block;
  }

  .main {
    margin-left: 5rem;
    margin-bottom: 0;
    /* padding: 0 1rem; */
  }

  .nav {
    height: 100%;
  }

  .nav__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .nav__item {
    width: 100%;
  }

  .nav__arrow {
    background-color: rgb(23, 27, 31);
    display: block;
  }

  .arrow {
    display: block;
    transform: rotate(0deg);
    transition: transform 500ms;
  }

  .nav:hover .arrow {
    transform: rotate(-180deg);
  }

  .link__text {
    display: none;
    margin-left: 1rem;
    width: 100%;
  }

  .header:hover {
    width: 14rem;
    transition: width 200ms ease;
  }

  .nav:hover {
    width: 100%;
  }

  .nav:hover .link__text {
    overflow: hidden;
    display: block;
  }

  .link__text {
    font-size: 1.3rem;
  }

  .nav__link {
    width: 100%;
    height: 5rem;
    justify-content: flex-start;
  }

  .nav__link i {
    min-width: 2rem;
    margin: 0 1.5rem;
  }

  .nav__link:hover {
    color: rgb(182, 109, 250);
    background-color: rgb(23, 27, 31);
    transition: 400ms ease;
  }

  .nav__item:last-child {
    margin-top: auto;
  }
}

.sapo {
  position: absolute;
  transition: all 0.4s ease-in-out
}

.sapo.jump {
  transform: translateY(-150px);
}

.sapo.green {
  color: #459e33;
}

.sapo-filling {
  width: 10rem
}

/* Sections  Remove later! */

@media screen and (min-width: 600px) {
  .main {
    margin-bottom: 2rem;
  }
}

/* Main */

.main-name {
  color: rgb(129, 64, 190);
}

.main-container {
  display: flex;
  flex-direction: column-reverse;
}

.main-subtitle {
  font-size: 1.3rem;
  margin-bottom: 1.2rem;
}

.main-info-container {
  padding: 1rem;
}

.profile-img-container {
  margin: 0 auto;
  padding: 0.5rem;
  border-radius: 1rem;
  width: 300px;
  -webkit-box-shadow: 5px 3px 4px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 5px 3px 4px 4px rgba(0, 0, 0, 0.2);
}

.profile-img {
  width: 100%;
  border-radius: 1rem;
}

.about-me_btn {
  margin: 0.8rem 0;
  background-color: rgb(76, 204, 236);
  border: none;
  padding: 0.5rem 1.2rem;
  color: #fff;
  font-size: 1.2rem;
  border-radius: 2px;
  cursor: pointer;
  outline: none;
}

.about-me_btn:hover {
  background-color: rgb(72, 187, 216);
}

@media screen and (min-width: 1000px) {
  .main {
    padding: 1rem;
  }

  .main-container {
    flex-direction: row;
  }

  .main-info-container {
    width: 60%;
  }

  .profile-img-container {
    max-width: 400px;
    /* max-height: 400px; */
  }
  .profile-img {
    width: 100%;
  }
}

/* About me */

.about-container {
  display: flex;
  flex-direction: column;
  background-color: rgb(233, 235, 207);
  border-radius: 1rem;
  padding: 1rem;
  justify-content: center;
  align-items: center;
}

.about-img-container {
  margin: 0 auto;
  padding: 0.5rem;
  border-radius: 1rem;
  width: 300px;
  height: 300px;
  -webkit-box-shadow: 5px 3px 4px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 5px 3px 4px 4px rgba(0, 0, 0, 0.2);
}

.about-img {
  width: 100%;
  border-radius: 1rem;
}

.about-info-container {
  padding: 1rem;
}

@media screen and (min-width: 1000px) {
  .about {
    margin-left: 5rem;
    padding: 1rem;
  }

  .about-container {
    flex-direction: row;
  }

  .about-info-container {
    width: 60%;
  }

  .about-img {
    width: 100%;
  }
}

.d-flex-hab {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.habilidades {
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
}

.hab {
  width: 90px;
  height: 90px;
  background-color: #dddddd94;
  display:flex;
  align-items: center;
  justify-content:center;
  margin: 0.5rem;
  padding: 0.1rem;
  border-radius: 0.3rem;
  cursor: pointer;
}

.hab::before,
.hab::after {
  --scale: 0;
  content: "";
  position:fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) scale(var(--scale));
  cursor: initial;
}

.hab::before {
  content: attr(data-tooltip);
  color: white;
  background-color: rgba(255, 81, 0, 0.863);
  padding: 0.7rem; 
  border-radius: 0.2rem;
  width: max-content;
  max-width: 80vw;
  word-break: break-all;
  font-size: 1.3rem;
  text-align: center;
  
}

.hab:hover {
  background-color: #c1df89bb;
}

.hab:hover::before {
  --scale: 1;
  content: attr(data-tooltip);
}


.hab-fa {
  display: flex;
  font-size: 50px;
}

.flag {
  width: 50px;
}

.hab-img {
  width: 45px; 
 
}

@media screen and (min-width: 600px) {
  .about {
    margin-left: 5rem;
  }

  .flag {
    width: 70px;
  }

  .hab-fa {
    font-size: 4em;
  }

  .hab-img { width: 55px; }
  
  .hab::before {
    width: 350px;
  }
}

/* Projects */

.projects {
  padding: 1rem;
}

.projects__container {
  display: flex;
  text-align: center;
  flex-wrap: nowrap;
  overflow-x: scroll;
  padding: 1rem;
  background-color: rgb(233, 235, 207);
  border-radius: 1rem;
}

.project-container h3 {
  margin-top: 1rem;
  margin-bottom: 0.4rem;
}

.project {
  border-radius: 1em;
  min-width: 240px;
  height: 340px;
  background-color: rgb(231, 231, 231);
  cursor: pointer;
  border: 2px solid seashell;
  box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.75);
  transition: all ease-in-out 250ms;
}

.project:hover {
  transform: translateY(-7px);
  box-shadow: 0px 15px 8px -7px rgba(0, 0, 0, 0.75);
}

.project-container + .project-container {
  margin-left: 0.5em;
}

.todolist {
  background-image: url(../images/todolist.jpg);
}

.pixelart {
  background-image: url(../images/pixel-art.jpeg);
}

.tryunfo {
  background-image: url(../images/tryunfo.jpeg);
}

.online-store {
  background-image: url(../images/online-store.jpeg);
}

.receitas-da-vovo {
  background-image: url(../images/receitas-da-vovo.jpeg)
}

.project-desc {
  background-color: rgb(63, 63, 63);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -56%);
  color: #fff;
  padding: 1rem;
  z-index: 99;
  border-radius: 1rem;
  width: 90%;
  visibility: hidden;
}

.project-desc.desc-active {
  visibility: visible;
}

.project-desc h2 {
  margin-bottom: 0.5rem;
}

/* .project-desc__text-container {
  height: 150px;
} */

.project-desc p {
  font-size: 0.8rem;
  margin-top: 1rem;
}

.project-desc button {
  padding: 0.7rem 1.4rem;
  border: none;
  background-color: rgb(4, 194, 194);
  color: #fff;
  font-size: 1.2rem;
  margin-top: 1rem;
  cursor: pointer;
  border-radius: 2px;
}

.project-desc button:hover {
  background-color: rgb(5, 165, 165);
}

.project-desc__close-container {
  position: absolute;
  right: 20px;
  color: rgba(248, 63, 63, 0.7);
  font-size: 1.5rem;
  cursor: pointer;
}

.project-desc__close-container i:hover {
  color: rgba(209, 50, 50, 0.7);
}

.desc-image {
  /* width: 100%; */
  height: 150px;
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (min-width: 600px) {
  .projects {
    margin-left: 5rem;
  }

  .project {
    margin-top: 0.5rem;
  }

  /* .projects__container {
    justify-content: center;
    overflow-x: hidden;
    flex-wrap: wrap;
  } */

  .project-desc {
    margin-left: 2rem;
    width: 70%;
    transform: translate(-50%, -50%);
  }

  .project-desc p {
    font-size: 1rem;
  }

  .desc-image {
    height: 220px;
  }
}

/*---------- Curriculum --------- */

.curriculum-container {
  background: #f46b45; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #eea849,
    #f46b45
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #eea849,
    #f46b45
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  padding: 10rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  /* margin-top: 1rem; */
}

.curriculum-btn {
  font-family: "Lato";
  background-color: #3498da;
  border: none;
  width: 250px;
  font-weight: 700;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  transition: all ease-in-out 250ms;
  cursor: pointer;
  box-shadow: 0px 16px 0px -6px rgba(0, 0, 0, 0.32);
}

.curriculum-btn:hover {
  transform: translateY(10px);
  box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.32);
}

#curriculum {
  /* height: 60vh; */
  padding: 0 1rem;
  text-align: center;
}

/* #curriculum h2 {
  margin-bottom: 1rem;
} */

.download-icon {
  background-color: #2c81ba;
  padding: 1rem;
}

.curriculum-btn__text {
  padding-right: 1rem;
}

@media screen and (min-width: 600px) {
  #curriculum {
    /* height: 100vh; */
    margin-left: 5rem;
    margin-bottom: 0;
    padding: 1rem;
  }
}

/* ------- Contact --------- */

#contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 7rem;
}

/* #contatct h2 {
  text-align: center;
} */

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 600px;
  background-color: #e2e6a7;
  padding: 2rem 1rem;
  border-radius: 0.5rem;
}

.contact-form input {
  width: 100%;
  padding: 0.9rem 1rem;
  margin: 1.2rem 0;
  border-radius: 1.5rem;
}

.contact-form textarea {
  border-radius: 0.4rem;
  margin-bottom: 1rem;
  height: 150px;
  width: 100%;
}

.contact-form button {
  border: none;
  background-color: rgb(39, 143, 60);
  color: #fff;
  padding: 0.6rem 0;
  border-radius: 0.4rem;
  font-size: 1.3rem;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: rgb(29, 104, 44);
}

.contact-form button:disabled {
  background-color: rgb(167, 167, 167);
  cursor: auto;
}

@media screen and (min-width: 600px) {
  #contact {
    height: 100vh;
    margin-left: 5rem;
    margin-bottom: 0;
    padding: 1rem;
  }
}

input[type="text"],
textarea {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  outline: none;
  margin: 5px 1px 3px 0px;
  border: 1px solid #dddddd;
}

input[type="text"]:focus,
textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  border: 1px solid rgba(81, 203, 238, 1);
}

.wpp-container {
  position: fixed;
  bottom: 4.5rem;
  right: 1rem;

}

.wpp-container a {
  font-size: 2.7rem;
  color: #59d754;
}

.wpp-container a:hover { 
  opacity: 0.7;
}

@media screen and (min-width: 600px) {
  .wpp-container {
    bottom: 2rem;
    right: 1.3rem;
  }
}
